// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url("tileable_wood_texture_@2X.png");
  color: #222222;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.navbar-inverse .navbar-nav > li > a {
  color: #F4DCCA;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { 
color: #F4DCCA;
}

.thumb {
  border: 1px solid #222222;
  text-align: center;
  border-radius: 25px;
  background-image: image-url("old_map.png");
}

a {
  color: #222222;
}

a:hover {
  text-decoration: none;
}